@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 title-font">Welcome to the Movies and Actors Database!</h1>
    <p class="script-font">This site is a project for the Fall 2024 section of CS 330 at the University of Alabama, demonstrating how to use ASP.NET to create a content database system.</p>
    <p class="script-font">Note: All "Tweets" and reviews on individual movie and actor pages are AI generated on page load, and are not representative of the thoughts and views of The University of Alabama or the actors themselves.</p>
</div>

