@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Movies and Actors Database!</h1>
    <p>This site is a project for the Fall 2024 section of CS 330 at the University of Alabama, demonstrating how to use ASP.NET to create a content database system.</p>
</div>

