@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site stores data entered in the Movies, Actors, and Castings pages on an off-site Azure database. Only enter data that you are comfortable with others seeing. This is for demonstration purposes only.</p>

